nav {
  list-style-type: none;
  background-color: #333;
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
}
.navli {
  float: left;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 50px;
}

li a:hover {
  background-color: antiquewhite;
  color: black;
}
table, th, td {
  border: solid navy 3px;
  border-collapse: collapse;
  padding: 10px;
 }
table {
  width: 50%;
}
td:hover {
  background-color: yellow;
}
tr:nth-child(even) {background-color: #f2f2f2;}

body {
  background-color: silver;
}
